{% extends "main/base.html" %}
{% block content %}
<div class='news-page-outline'>
{% for d in doc_example%}
<div class='all-news-iterm'>
    <div class='all-news-iterm-title'>{{ d.get_title }}.<a href='/media/{{ d.doc.url }}'>下载</a>
    {% if is_superadmin %}
        <a href='/delete_doc_example/{{ d.get_id }}/'>删除</a>
    {% endif %}
    </div>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if doc_example.has_previous %}
            <a href="?page={{ doc_example.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            {{ doc_example.number }} / {{ doc_example.paginator.num_pages }}
        </span>

        {% if doc_example.has_next %}
            <a href="?page={{ doc_example.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
