{% extends "main/base.html" %}
{% block content %}
<div class='news-page-outline'>
{% for t in train%}
<div class='all-news-iterm'>
    <div class='all-news-iterm-title'><a href='/news/{{ t.get_id }}/'>{{ t.get_title }}</a></div>
    <div class='all-news-iterm-datetime'>{{ t.get_datetime|date:'Y-m-d' }}</div>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if train.has_previous %}
            <a href="?page={{ train.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            {{ train.number }} / {{ train.paginator.num_pages }}
        </span>

        {% if train.has_next %}
            <a href="?page={{ train.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
