{% extends "main/base.html" %}
{% block content %}
<div class='news-page-outline'>
{% for d in law%}
    <li>{{ d.get_title }}.<a href='/media/{{ d.doc.url }}'>下载</a>
    {% if is_superadmin %}
        <a href='/delete_doc_example/{{ d.get_id }}/'>删除</a>
    {% endif %}
    </li>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if law.has_previous %}
            <a href="?page={{ law.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            {{ law.number }} / {{ law.paginator.num_pages }}
        </span>

        {% if law.has_next %}
            <a href="?page={{ law.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
