{% extends "main/base.html" %}
{% block content %}
<div class='news-page-outline'>
{% for l in law%}
<div class='all-news-iterm'>
    <div class='all-news-iterm-title'><a href='/news/{{ l.get_id }}/'>{{ l.get_title }}</a></div>
    <div class='all-news-iterm-datetime'>{{ l.get_datetime|date:'Y-m-d' }}</div>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if law.has_previous %}
            <a href="?page={{ law.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            {{ law.number }} / {{ law.paginator.num_pages }}
        </span>

        {% if law.has_next %}
            <a href="?page={{ law.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
