{% extends 'main/base.html' %}
{% block content %}
<div class='news-page-outline'>
<div class='news-page-title'>{{ news.get_title }}</div>
<div class='news-page-datetime'>{{ news.get_datetime|date:'Y-m-d' }}
{% if is_superadmin %}
    <a href='/delete_news/{{ nid }}'>删除本文</a>
{% endif %}
</div>
{% if is_admin %}
<div class='news-page-uploadpic'>
<form enctype="multipart/form-data" action="/news/{{ news.get_id }}/" method="POST">
    {% csrf_token %}
    <table>{{ form.as_table}}
    </table>
    <input type="submit" value="上传图片">
</form><br>
</div>
{% endif %}
<div class='news-page-content'>{{ news.get_content|safe }}</div>
{% for p in picture %}
    <div class='news-page-pic'><img width='100%' src='{{ p }}'></div>
{% endfor %}
</div>
{% endblock %}
