{% extends "main/base.html" %}
{% block content %}
<div class='news-page-outline'>
{% for i in intro %}
<div class='all-news-iterm'>
    <div class='all-news-iterm-title'><a href='/news/{{ i.get_id }}/'>{{ i.get_title }}</a>
    (发布日期：{{ i.get_datetime|date:'Y-m-d' }})</div>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if intro.has_previous %}
            <a href="?page={{ intro.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            {{ intro.number }} / {{ intro.paginator.num_pages }}
        </span>

        {% if intro.has_next %}
            <a href="?page={{ intro.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
